
@media (max-width:1000px){
    .center {
      padding-top: 60px;
      padding-bottom: 0;
    }
    }
    @media(max-width:670px){
    .header-right{
      display:none;
    }
    
    /* Add CSS for menu-icon */
    .menu-icon{
      float:right;
      padding:30px;
    }
    
    .rows1,.rows2,.rows3,.rows4{
      flex-wrap: wrap;
      flex-direction: column;
    }
    
    .columns{
      flex-direction: column;
    }
    .image{
      width:160%;
    }
    .middle,.center,.column {
      width:60%;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-top: 0px;
    }
    .name{
      font-size: 30px;
      letter-spacing: 2px;
    }
    .safety{
      display: flex;
        flex-direction: column;
    }
    }
    @media (max-width:800px){
      .name{
        font-size: 40px;
        letter-spacing: 4px;
      }
    }
    @media (max-width:490px){
      .name{
    font-size: 34px;
        letter-spacing: 0px;
    }}